name: Run unit test

on: [push]

jobs:
  run-unit-test:
    name: Run unit test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      - name: create env file
        run: |
            touch .env
            echo -e "PORT=3333\nNODE_ENV=development\nAPP_SALT=6\nDATABASE_URL="postgresql://docker:docker@localhost:5432/data-base?schema=public"\nJWT_SECRET=secret" >> .env 
            
      - name: test
        run: ls -la
      
      - name: cat
        run: cat .env
      
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci
      
      - run: npm run test